a {
  color: inherit;
  text-decoration: none;
}

input {
  border: none;
}

input:focus {
  outline: "none";
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: inherit;
  -webkit-text-size-adjust: none;
}

button {
  cursor: pointer;
}

button:hover {
  filter: brightness(0.92);
}
